includes:
	- phpstan-baseline.neon

parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- InvalidArgumentException
			- Localheinz\Json\Normalizer\Test\Unit\AbstractNormalizerTestCase
			- Localheinz\Json\Normalizer\Test\Unit\Exception\AbstractExceptionTestCase
			- RuntimeException
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
