includes:
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
	- vendor/localheinz/phpstan-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	classesAllowedToBeExtended:
		- InvalidArgumentException
		- Localheinz\Json\Normalizer\Test\Unit\AbstractNormalizerTestCase
		- Localheinz\Json\Normalizer\Test\Unit\Exception\AbstractExceptionTestCase
		- RuntimeException
	ignoreErrors:
		- '#Method Localheinz\\Json\\Normalizer\\Json::__construct\(\) has parameter \$decoded with no typehint specified.#'
		- '#Method Localheinz\\Json\\Normalizer\\JsonSchema\\Uri\\Retrievers\\ChainUriRetriever::getContentType\(\) has a nullable return type declaration.#'
		- '#Method Localheinz\\Json\\Normalizer\\SchemaNormalizer::resolveSchema\(\) has parameter \$data with no typehint specified.#'
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
