parameters:
	ignoreErrors:
		-
			message: "#^Method Ergebnis\\\\Json\\\\Normalizer\\\\Json\\:\\:__construct\\(\\) has parameter \\$decoded with no typehint specified\\.$#"
			count: 1
			path: src/Json.php

		-
			message: "#^Method Ergebnis\\\\Json\\\\Normalizer\\\\SchemaNormalizer\\:\\:resolveSchema\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/SchemaNormalizer.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\Json…' and Ergebnis\\\\Json\\\\Normalizer\\\\Json will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Format/FormatterTest.php

